-
  var data = {
    "top": {
      "title": "topのtitleになります",
      "description": "topのdescriptionになります",
      "keywords":"topのkeywordsになります",
      "image":"./assets/images/ogp.jpg",
      "url":"https://example/top",
    },
    "about": {
      "title": "topのtitleになります",
      "description": "topのdescriptionになります",
      "keywords":"topのkeywordsになります",
      "image":"./assets/images/ogp.jpg",
      "url":"https://example/top",
    }
  };